<section class = "card">

    <a href="/blog/{{id}}">
        <header>
        <h1> {{title}}</h1>
        
    </header>
    <body>
        <h3>{{textContent}}</h3>
    </body>
    </a>
    
</section>